<div class="container">
    <h1>List of All Employees</h1>
  
    <a href="#" routerLink="/employee/create/" class="btn btn-success">Create New Employee</a>
    
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Salary</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let employee of employees.data">
        <td>{{ employee.employee_name }}</td>
        <td>{{ employee.employee_age }}</td>
        <td>{{ employee.employee_salary }}</td>
        <td>
          <a href="#" [routerLink]="['/employee/', employee.id, 'view']" class="btn btn-info">View</a>
          <a href="#" [routerLink]="['/employee/', employee.id, 'edit']" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteEmployee(employee.employee_id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
 </div>